:root {
    background-color: #823303;
}

@font-face {
    font-family: 'baskerville';
    src: url(../src/asssets/fonts/LibreBaskerville-DpdE.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: baskerville , sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

#content {
    display: grid;
    grid-template-rows: 60px auto;
}

.navBar {
    display: flex;
    justify-content: center;
    gap: 0px;
    background-color: rgb(199, 83, 5);
    position: sticky;
    top: 0px;
    z-index: 5;
    grid-row: 1 / 2;
}

.navButton {
    font-size: 1.5rem;
    height: 60px;
    width: 150px;
    background-color: rgb(199, 83, 5);
    color: rgb(18, 26, 44);
    border-right: 0;
    border-left: 3px solid rgb(59, 61, 66);
    border-top: 0;
    border-bottom: 0;
}

#contactButton {
    border-right: 3px solid rgb(59, 61, 66);
}

.navButton:hover {
    background-color: rgb(206, 105, 38);
}

/* home tab */
#h-tabContent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.h-description {
    font-size: 2rem;
    max-width: 900px;
    min-width: 450px;
    margin-left: 50px;      
    margin-top: 50px;
}

#logo {
    width: 80vw;
    min-width: 400px;
    margin-top: -30px;
    align-self: center;
}

/* contact tab */
#c-tabContent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.c-txtWrapper {
    margin-left: 50px;      
    margin-top: 50px;
    display: flex;
    gap: 50px;  
}

.c-description {
    font-size: 2rem;
    max-width: 900px;
    min-width: 450px;
    
}

#c-logo {
    width: 80vw;
    min-width: 400px;
    margin-top: -30px;
    align-self: center;
}

.c-workWithUs {
    font-size: 1.5rem;
}

/* menu tab */